h1 {
    font-family: 'Reenie Beany';
    font-size: 60px;
    font-weight: normal;
    padding: 30px;
}

body {
    margin-top: 150px;
}

p {
    font-family: 'Reenie Beany';
    font-size: 2em;
    width: 80%;
    margin-left: 150px;
}

.center {
    text-align: center;
}

/* NAV BAR */
.header {
    position: fixed;
    background-image: url("images/earthsea.jpg");
    background-size: cover;
    background-position: center;
    top: 0;
    left: 0;
    right: 0;
    height: 150px;
}

.nav {
    display: flex;
    float: right;
}

/* Position all elements inside the header horizontally *
*/
.nav * {
    display: inline;
    margin: 3px;
    right: 0px;
}


/* FONTS */
@font-face {
    font-family: 'Reenie Beany';
    src: url('fonts/Reenie_Beanie/ReenieBeanie-Regular.ttf');
}
.Reenie-Beany {
    font-family: 'Reenie Beany';
    font-size: 4em;
}

/* BEE ANIMATION */
.emoji {
    font-size: 2.5em;
    animation: buzz 4s linear infinite;

}

@keyframes buzz {
    0%, 100% {
        position: absolute;
        transform: translateY(0);
        width: 0.87em;
        top: 135px;
        left: 60%;
    }
    
    50% {
        position: absolute;
        transform: translateY(-12px);
        width: 0.87em;
        top: 130px;
        left: 60%;
    }
}

/* MENU BUTTON */
.button {
    background-color: tan;
    color: black;
    padding: 0px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    font-family: 'Reenie Beany';
    border: 2px gray;
    border-radius: 12px;

}

/* 'Click' effect is essentialy moving the button down whilst
 * casting a shadow
*/
.button:active {
    background-color: tan;
    box-shadow: 0 5px #6a6161;
    transform: translateY(4px);
}

.button:hover {
    background-color: darkkhaki; 
    color: white;
}

/* BUTTON TO DISPLAY SKILLS*/
.skills {
    left: 20%;
    position: absolute;
    background-color: white;
    border-color: beige;
    border-width: 1px;
    border-radius: 3px;
    padding: 0px 20px;
    font-size: 25px;
    font-family: 'Reenie Beany';
}

.hide {
    display: none;
}

.skills:hover {
    background-color: #BDD3B9; 
    color: white;
}

/* display text shown upon hover inline of button */
.skills:hover + .hide {
    display: inline-block;
    left: 32%;
    position: absolute;
    font-family: 'Reenie Beany';
    font-size: 30px;
}
